[Desktop Entry]
Name=FeatherPad
GenericName=Text Editor
GenericName[da]=Tekstredigering
GenericName[eo]=Tekst-Redaktilo
GenericName[pl]=Edytor tekstu
GenericName[zh_CN]=文本编辑器
Comment=Lightweight Qt5 text editor
Comment[da]=Letvægts Qt5-tekstredigering
Comment[eo]=Malpeza tekst-redaktilo bazita sur Qt5
Comment[pl]=Lekki edytor tekstu oparty na Qt5
Comment[zh_CN]=轻量级 Qt5 文本编辑器
Exec=featherpad %F
Icon=featherpad
Terminal=false
Type=Application
MimeType=text/plain;
Categories=Qt;Utility;TextEditor;
X-KDE-StartupNotify=false
